.layout__user {
    width: 10vw;
    height: 100vh;
    @include flexDirection(column, center, center);
    position: fixed;
    left: 0;
    top: 0;
    background-color: #6666a5;
}

.sidebar__user {
    margin-top: 100px;
    width: 100%;
    height: 30%;
    img {
        width: 50px;
        height: 50px;
    }
}

.itinerary {
    width: 100%;
    height: 40%;
    border-radius:  radius(12px, 12px, 12px, 12px);
    img {width: 90%;
    height: 20%;}
}

.buttons__div {
    width: 100%;
    height: 30%;
    margin-top: 80px;
}