.location__page {
  
    @include xs {
       @include flexDirection(column, space-between, center);
       flex-wrap: wrap;
       width: 100vw;
       height: auto;
       gap: 12px;
     }
   
     @include sm {
       @include flexDirection(column, center, center);
       flex-wrap: wrap;
       width: 100vw;
       min-height: 100vh;
       gap: 12px;
     }
   
     @include md {
       @include flexDirection(row, center, center);
       flex-wrap: wrap;
       width: 100vw;
       min-height: 100vh;
       gap: 12px;
     }
   
     @include lg {
       @include flexDirection(row, center, center);
       flex-wrap: wrap;
       width: 80vw;
       min-height: 100vh;
       gap: 12px;
     }
   
     @include xl {
       @include flexDirection(row, center, center);
       flex-wrap: nowrap;
       width: 80vw;
       min-height: 100vh;
       gap: 12px;
     }
}